{% extends "base.html" %}
{% load static %}

{% block title %}Homepage{% endblock %}

{% block main %}
<div class="col-lg-8 col-lg-offset-2">
<h1>Race for 2022 Begins</h1>
<!-- <img src="{% static 'my_app/example.jpg' %}" alt="My image"> -->
<img src="{% static 'images/William_Ruto.jpg' %}" alt="William Ruto" width="500" height="600">
<img src="{% static 'images/Raila_A._Odinga.jpg' %}" alt="Raila_Amolo" width="500" height="600">
<img src="{% static 'images/mudavadi_musalia.jpg' %}" alt="Mudavadi_Musalia" width="500" height="600">
<img src="{% static 'images/Gideon_Moi.jpg' %}" alt="Gideon_Moi" width="500" height="600">
<img src="{% static 'images/kivutha_kibwana.jpg' %}" alt="Kivutha_Kibwana" width="500" height="600">
<img src="{% static 'images/Mukhisa_Kituyi.jpg' %}" alt="Mukhisa_Kituyi" width="500" height="600">
</div>
<br><br><br><br><br><br>
<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Available Polls</h3>
            </div>
                
            <ul class="list-group">
                <li class="list-group-item">
                    <strong>Who is more likely to <b>be Kenya's President</b> in 2022?</strong>
                    <span class="pull-right">
                        <a href="#" class="btn btn-info btn-xs">Vote</a> &nbsp;
                        <a href="#" class="btn btn-default btn-xs">View Results</a> &nbsp;
                    </span>
                </li>
                <li class="list-group-item">
                    <strong>The most preffered way of voting?</strong>
                    <span class="pull-right">
                        <a href="#" class="btn btn-info btn-xs">Vote</a> &nbsp;
                        <a href="#" class="btn btn-default btn-xs">View Results</a> &nbsp;
                    </span>
                </li>
            </ul>

        </div>
    </div>
</div>
{% endblock %}